<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        {% load static %}
        <link rel="icon" href="{% static '/icon/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_boy.css' %}">
    </head>
    <body>
        <div class="grid">
            <div class="header">
                qweqrwetrytrutyu
            </div>
            <div class="main">
                <h1>croissant-boy</h1>
                <h2>created by nosssy</h2>
                <img src="{% static '/images/croissant_boy.png' %}">
                <p>2025年度学祭にて展示予定! HAPPY短編2Dロールプレイング</p>
            </div>
            <div class="footer">
                <a href="https://github.com/nosh11/Gakusai_Py">Github</a>
                <a href="/">Back</a>
            </div>
        </div>
    </body>
</html>