pywin32; sys_platform == "win32"
asgiref==3.8.1
azure-core==1.32.0
azure-identity==1.20.0
azure-storage-blob==12.24.1
beautifulsoup4==4.13.3
bs4==0.0.2
build==1.2.2.post1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
Django==5.1.6
django-allow-cidr==0.7.1
django-storages==1.14.5
idna==3.10
isodate==0.7.2
msal==1.31.1
msal-extensions==1.2.0
mysql-connector-python==9.2.0
mysqlclient==2.2.7
packaging==24.2
pillow==11.1.0
pip-tools==7.4.1
portalocker==2.10.1
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
pyproject_hooks==1.2.0
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
