{% extends 'novel/base.html' %}
{% block title %}Novel を作成する{% endblock %}

{% block content %}
    <p>Novel を作成するために、以下のフォームに情報を入力してください。</p>
    <form action="{% if pk %}/novel/edit/{{ pk }}/{% else %}/novel/create/{% endif %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">

        {% if pk %}
            <a href="/novel/delete/{{ pk }}">Delete</a>
        {% endif %}
        
    </form>
    <a href="/novel">Back to list</a>
{% endblock %}