{% extends 'novel/base.html' %}
{% block title %}Novel Info{% endblock %}
{% block content %}
    <p>Title: {{ novel.title }}</p>
    <p>Author: {{ novel.author }}</p>
    <p>Description: {{ novel.description }}</p>
    <p>Body: 
        <div class="flame wrap-style">
            {{ novel.letter_body }}
        </div>
    </p>
    <p>Created at: {{ novel.created_at }}</p>
    <p>Updated at: {{ novel.updated_at }}</p>
    <a href="/novel/edit/{{ novel.id }}">Edit</a>
    <a href="/novel/delete/{{ novel.id }}">Delete</a>
    <a href="/novel">Back to list</a>
{% endblock %}