{% extends 'portfolio/base.html' %}
{% block title %}作成{% endblock %}

{% block content %}
    <p>作成するために、以下のフォームに情報を入力してください。</p>
    <form action="{% if pk %}/portfolio/edit/{{ pk }}/{% else %}/portfolio/create/{% endif %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="title">Title:</label>
        {{ form.title.errors }}
        {{ form.title }}

        <label for="image">Image:</label>
        <p>{{ form.image.errors }}</p>
        {{ form.image }}

        <label for="url">URL:</label>
        {{ form.url.errors }}
        {{ form.url }}

        <label for="description">Description:</label>
        {{ form.description.errors }}
        {{ form.description }}

        <input type="submit" value="Submit">
    </form>
    <a href="/portfolio">Back to list</a>
{% endblock %}