{% extends 'portfolio/base.html' %}
{% block title %}詳細{% endblock %}

{% load static %}
{% block content %}
    <h1>{{ portfolio.title }}</h1>
    <div id="youtube-embed-container" data-url="{{ portfolio.url }}"></div>

    {% if portfolio.image %}
        <img src="{{ portfolio.image.url }}" alt="portfolio image" class="portfolio-image">
    {% endif %}
    <br>
    <div class="description">{{ portfolio.description }}</div>


    
    {% for tag in portfolio.tags.all %}
        <div class="portfolio-tag">
            <p>{{ tag.name }}</p>
        </div>
    {% endfor %}
        

    <a href="/portfolio/edit/{{ portfolio.id }}">Edit</a>
    <a href="/portfolio/delete/{{ portfolio.id }}">Delete</a>
    <a href="/portfolio">Back to list</a>
    <script src="{% static 'js/portfolio/detail.js' %}"></script>
{% endblock %}