{% extends 'portfolio/base.html' %}
{% block title %}詳細{% endblock %}

{% block content %}
    <h1>{{ portfolio.title }}</h1>

    {% if portfolio.image %}
        <img src="{{ portfolio.image.url }}" alt="portfolio image" class="portfolio-image">
    {% endif %}
    <p>Description: {{ portfolio.description }}</p>


    {% if portfolio.url %}
        <a href="{{ portfolio.url }}">Jump to page</a>
    {% endif %}
    <a href="/portfolio/edit/{{ portfolio.id }}">Edit</a>
    <a href="/portfolio/delete/{{ portfolio.id }}">Delete</a>
    <a href="/portfolio">Back to list</a>
{% endblock %}