{% extends 'portfolio/base.html' %}
{% block title %}詳細{% endblock %}

{% load static %}
{% block content %}
    <h1>{{ portfolio.title }}</h1>
    <div id="youtube-embed-container" data-url="{{ portfolio.url }}"></div>

    {% if portfolio.image %}
        <img src="{{ portfolio.image.url }}" alt="portfolio image" class="portfolio-image">
    {% endif %}
    <br>
    <p class="description">{{ portfolio.description | linebreaksbr }}</p>

    <div class="portfolio-tags">
        {% for tag in portfolio.tags.all %}
            <a href="{% url 'portfolio_by_tag' tag.id %}" class="portfolio-tag" data-color="{{ tag.color }}">{{ tag.name }}</a>
        {% endfor %}
    </div>

    <a href="/portfolio/edit/{{ portfolio.id }}">Edit</a>
    <a href="/portfolio/delete/{{ portfolio.id }}" id="delete-link">Delete</a>
    <a href="/portfolio">Back to list</a>
    <script src="{% static 'js/portfolio/detail.js' %}"></script>
    <script>
        document.getElementById('delete-link').addEventListener('click', function(event) {
            if (!confirm('本当に削除してよろしいですか？')) {
                event.preventDefault();
            }
        });
    </script>
{% endblock %}