{% extends 'portfolio/base.html' %}

{% block title %}一覧{% endblock %}

{% load static %}
{% block content %}
    <p>ポートフォリオ一覧</p>
    <div class="portfolio">
        {% for portfolio in portfolios %}
            <a href="/portfolio/detail/{{ portfolio.id }}" class="portfolio-item" data-url="{{ portfolio.url }}">
                <p>{{ portfolio.title }}</p>
            </a>
        {% endfor %}
    </div>
    <a href="/portfolio/create" class="url">作成</a>
    <a href="/portfolio/tag/" class="url">タグの設定</a>
    <a href="/" class="url">Back to Home</a>

    <script src="{% static 'js/portfolio/index.js' %}"></script>
{% endblock %}