{% extends 'portfolio/base.html' %}

{% block title %}一覧{% endblock %}

{% load static %}
{% block content %}
    <p>ポートフォリオ一覧</p>

    <div class="portfolio">
        {% if portfolios %}
            {% for portfolio in portfolios %}
                <a href="/portfolio/detail/{{ portfolio.id }}" class="portfolio-item" data-url="{{ portfolio.url }}">
                    <p>{{ portfolio.title }}</p>
                </a>
            {% endfor %}
        {% else %}
            <p>ポートフォリオがありません。</p>
        {% endif %}
    </div>

    <div class="portfolio-tags">
        <a href="{% url 'index' %}" class="{% if not selected_tag_id %}portfolio-tag selected special{% else %}portfolio-tag special{% endif %}">すべて</a>
        {% for tag in tags %}
            <a href="{% url 'portfolio_by_tag' tag.id %}" class="{% if selected_tag_id == tag.id %} portfolio-tag selected {% else %} portfolio-tag {% endif %}">{{ tag.name }}</a>
        {% endfor %}
        <a href="/portfolio/tag/" class="portfolio-tag special">タグの設定</a>
    </div>

    <a href="/portfolio/create" class="url">作成</a>
    <a href="/" class="url">Back to Home</a>

    <script src="{% static 'js/portfolio/index.js' %}"></script>
{% endblock %}