<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static '/icon/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>Croissant.{% block index %}{% endblock %}</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 CroissantMC</p>
    </footer>
</body>
</html>